
html {
    font-size: 24px;

    @media all and (max-width: $breakpoint-large) {
        font-size: 20px;
    }

    @media all and (max-width: $breakpoint-medium) {
        font-size: 18px;
    }

    @media all and (max-width: $breakpoint-xsmall) {
        font-size: 12px;
    }
}

a {
    color: $secondary-text-color;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}

.non-breaking {
    white-space: nowrap;
}