
.content-wrapper {
    display: flex;
    align-items: stretch;
}

.column {
    $bg-color: darken($background-color, 3%);

    flex: 1 1 auto;
    background-color: $bg-color;
    border-right: darken($bg-color, 5%);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    position: relative;

    &.primary {
        background-color: $background-color;
        flex-grow: 1.2;
    }

    &:last-child {
        border-right-width: 0;
    }

    $max: 10;
    @for $i from 1 to $max {
        &:nth-child(#{$i}) {
            z-index: ($max - $i + 1);
        }
    }
}

@media all and (max-width: $breakpoint-medium) {
    .content-wrapper {
        flex-direction: column;
    }

    .column {
        height: (100% / 3);

        &.primary {
            flex-grow: 1;
        }
    }
}

@media all and (max-width: $breakpoint-small) {
    .content-wrapper {
        display: block;
    }

    .column {
        height: auto;
    }
}