
@import 'variables';
@import 'mixins';

a {
    transition: color $transition-duration;
    color: $secondary-text-color;

    &,
    &:active,
    &:hover,
    &:focus,
    &:visited {
        text-decoration: none;
    }

    &:hover {
        color: $highlight-color;
    }
}

.hidden {
    visibility: hidden;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Helvetica', 'Verdana', sans-serif;
}

html,
body,
.content-wrapper {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.column {
    width: 33%;
    height: 100%;
    float: left;
}

.column-content {
    padding: 50px 30px;
    text-align: center;
    color: $secondary-text-color;

    .logo-wrapper,
    .title,
    .description,
    .link-wrapper {
        margin: 20px 0;
    }
}

@media all and (max-width: $breakpoint-small) {

    .column {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
}