
html {
    font-size: 24px;

    @media all and (max-width: $breakpoint-large) {
        font-size: 20px;
    }

    @media all and (max-width: $breakpoint-medium) {
        font-size: 18px;
    }

    @media all and (max-width: $breakpoint-xsmall) {
        font-size: 12px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}

a {
    color: $secondary-text-color;
    transition: color $transition-duration;

    &,
    &:active,
    &:hover,
    &:focus,
    &:visited {
        text-decoration: none;
    }

    &:hover {
        color: $highlight-color;
    }
}

* {
    box-sizing: border-box;
}

.non-breaking {
    white-space: nowrap;
}

.hidden {
    visibility: hidden;
}